---
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-velero-oidc-client
  namespace: velero
data:
  apiresources-config.yaml: |
    - Name:  myvelero
      Scopes:
        - myvelero.scope
  apiscopes-config.yaml: |
    - Name: myvelero.scope
  users-config.json: |
    [
      {
        "SubjectId":"1",
        "Username":"user",
        "Password":"pwd",
        "Claims": [
          {
            "Type": "name",
            "Value": "Sam Tailor",
            "ValueType": "string"
          },
          {
            "Type": "email",
            "Value": "sam.tailor@gmail.com",
            "ValueType": "string"
          },
          {
            "Type": "some-api-resource-claim",
            "Value": "Sam's Api Resource Custom Claim",
            "ValueType": "string"
          },
          {
            "Type": "some-api-scope-claim",
            "Value": "Sam's Api Scope Custom Claim",
            "ValueType": "string"
          },
          {
            "Type": "some-identity-resource-claim",
            "Value": "Sam's Identity Resource Custom Claim",
            "ValueType": "string"
          }
        ]
      }
    ]
  clients-config.json: |
    [
      {
        "ClientId": "implicit-mock-client",
        "Description": "Client for implicit flow",
        "AllowedGrantTypes": ["implicit"],
        "AllowAccessTokensViaBrowser": true,
        "RedirectUris": ["http://localhost:3000/auth/oidc", "http://localhost:31943/auth/oidc"],
        "AllowedScopes": ["openid", "profile", "email"],
        "IdentityTokenLifetime": 3600,
        "AccessTokenLifetime": 3600
      },
      {
        "ClientId": "client-credentials-mock-client",
        "ClientSecrets": ["client-credentials-mock-client-secret"],
        "Description": "Client for client credentials flow",
        "AllowedGrantTypes": ["client_credentials"],
        "AllowedScopes": ["myvelero-scope"],
        "ClientClaimsPrefix": "",
        "Claims": [
          {
            "Type": "string_claim",
            "Value": "string_claim_value",
            "ValueType": "string"
          },
          {
            "Type": "json_claim",
            "Value": "[\"value1\", \"value2\"]",
            "ValueType": "json"
          }
        ]
      }
    ]



---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-velero-oidc
  namespace: velero
  labels:
    app: myvelerooidc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myvelerooidc
  template:
    metadata:
      labels:
        app: myvelerooidc
    spec:
      volumes:
        - name: client-config
          configMap: 
            name: my-velero-oidc-client
      containers:
        - name: my-velero-oidc
          image: ghcr.io/soluto/oidc-server-mock:latest
          volumeMounts:
            - name: client-config
              mountPath: /etc/config
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
            - name: CLIENTS_CONFIGURATION_PATH
              value: /etc/config/clients-config.json
            - name: API_RESOURCES_PATH
              value: /etc/config/apiresources-config.yaml
            - name: API_SCOPES_PATH
              value: /etc/config/apiscopes-config.yaml
            - name: USERS_CONFIGURATION_PATH
              value: /etc/config/users-config.json
          ports:
            - containerPort: 80
              name: http
          resources:
            limits:
              cpu: 1000m
              memory: 1024Mi
            requests:
              cpu: 100m
              memory: 128Mi

---
apiVersion: v1
kind: Service
metadata:
  name: my-velero-oidc-svc
  namespace: velero
spec:
  type: NodePort
  ports:
    - name: http
      port: 4000
      targetPort: 8080
  selector:
    app: myvelerooidc
