{% extends "layout.html.twig" %} 

{% block title %} Dashboard {% endblock %} 

{% block body %}

<h1 class="mt-5">Overview</h1>
<hr/>
<div class="row">
    <div class="col-2">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-floppy2"></i> 
                    <span class="spinner-grow counter-backups"></span>
                </h2>
                <p class="card-text">
                    <span class="text-muted">Backups</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-bootstrap-reboot"></i> 
                    <span class="spinner-grow counter-restores"></span>
                </h2>
                <p class="card-text">
                    <span class="text-muted">Restores</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-calendar"></i> 
                    <span class="spinner-grow counter-schedules"></span>
                </h2>
                <p class="card-text">
                    <span class="text-muted">Schedules</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-speedometer2"></i> 
                    <span>Status</span>
                    <span class="spinner-grow bloc-status"></span>
                </h2>
                <p class="card-text">
                    <ol class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">Velero</div>
                            <h5><span class="badge bg-secondary rounded-pill bloc-status service-status"></span></h5>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">Storage</div>
                            <h5><span class="badge bg-secondary rounded-pill bloc-status storage-status"></span></h5>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">Last Sync</div>
                            <h5><span class="badge bg-secondary bloc-status storage-last-sync"></span></h5>
                        </li>
                    </ol>
                </p>
            </div>
        </div>
    </div>


    {# <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"><i class="bi bi-database"></i> Backup Location</h4>
            </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter list-backup-locations">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>provider</th>
                            <th>bucket/prefix</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody class="spinner-border"></tbody>
                </table>
            </div>
        </div>
    </div> #}
</div>

<h2 class="mt-5">Backups jobs</h1>
<hr/>
<table id="list-backups" class="table table-striped align-middle job-list">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>Errors</th>
            <th>Warnings</th>
            <th>Created</th>
            <th>Expires</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

    </tbody>
</table>

<h1 class="mt-5">Restores jobs</h1>
<hr/>
<table id="list-restores" class="table table-striped align-middle job-list">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>Errors</th>
            <th>Warnings</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

    </tbody>
</table>


<h2 class="mt-5">Schedules jobs</h1>
<hr/>
<table id="list-schedules" class="table table-striped align-middle">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <th>TTL</th>
            <th>Schedule</th>
            <th>Last backup</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">

    </tbody>
</table>
{% endblock %} 

{% block javascript %}
<script src="/js/app.js"></script>
{% endblock %}