{% extends "layout.html.twig" %} 

{% block title %} Dashboard {% endblock %} 

{% block body %}

<h1 class="mt-5">Overview</h1>
<hr/>
<div class="row text-center">
    <div class="col-2">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-floppy2"></i> 
                    <span class="spinner-grow counter-backups"></span>
                </h2>
                <p class="card-text">
                    <span class="text-muted">Backups</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-bootstrap-reboot"></i> 
                    <span class="spinner-grow counter-restores"></span>
                </h2>
                <p class="card-text">
                    <span class="text-muted">Restores</span>
                </p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-calendar"></i> 
                    <span class="spinner-grow counter-schedules"></span>
                </h2>
                <p class="card-text">
                    <span class="text-muted">Schedules</span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card card-sm">
             <div class="card-body">
                <h2 class="card-title mt-3">
                    <i class="bi bi-speedometer2"></i> 
                    <span class="status-global">Status</span>
                    <span class="status-loader spinner-grow"></span>
                </h2>
                <div class="card-text">
                    <div class="row g-3">
                        <div class="col">
                            <span class="text-muted badge-status">Velero</span><span class="badge bg-secondary bloc-status service-status"></span>
                        </div>
                        <div class="col">    
                            <span class="text-muted badge-status">Storage</span><span class="badge bg-secondary bloc-status storage-status"></span>
                        </div>
                        <div class="col">
                            <span class="text-muted badge-status">Last Sync</span><span class="badge bg-secondary bloc-status storage-last-sync"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="backup-bloc">
    <h2 class="mt-5">Backups</h1>
    <hr/>
    <table id="list-backups" class="table table-striped align-middle small job-list">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th>Errors</th>
                <th>Warnings</th>
                <th>Created</th>
                <th>Expires</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

        </tbody>
    </table>
</div>

<div class="restore-bloc">
    <h1 class="mt-5">Restores</h1>
    <hr/>
    <table id="list-restores" class="table table-striped align-middle job-list">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th>Errors</th>
                <th>Warnings</th>
                <th>Start</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

        </tbody>
    </table>
</div>

<div class="schedule-bloc">
    <h2 class="mt-5">Schedules</h1>
    <hr/>
    <table id="list-schedules" class="table table-striped align-middle job-list">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Status</th>
                <th>TTL</th>
                <th>Schedule</th>
                <th>Last backup</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

        </tbody>
    </table>
</div>
{% endblock %} 

{% block javascript %}
<script src="/js/app.js"></script>
{% endblock %}