<!doctype html>
<html lang="en" class="h-100" data-bs-theme="dark2">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Velero - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/css/jquery.toast.min.css">
    <style>
    main > .container {
      padding-top: 60px;
    }
    .job-list{
      table-layout: fixed; 
      word-wrap: break-word;
      font-size: 0.9rem;
    }
    .badge-status{
      padding-right: 18px;
    }
    .counter-backups, .counter-restores, .counter-schedules, .status-global{
      margin-left: 10px;
    }
    </style>
    {% block css %} {% endblock %} 
  </head>
  <body class="d-flex flex-column h-100">
    {%- block content %}
    {% include "menu.html.twig" %}
    
    <main class="flex-shrink-0">
        <div class="container">
            {%- block body %}{% endblock -%}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">&copy; My Velero - <a href="https://medinvention.io" target="_blank">medinvention.io</a></span>
        </div>
    </footer>
    {% endblock -%}
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap5.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script src="/js/jquery.toast.min.js"></script>
    {%- block javascript %}{% endblock -%}
  </body>
</html>
