<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                My <img src="/img/velero_logo_white.svg" width="114" height="40" class="me-3" alt="Velero" style="margin-left:-0.7rem">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex" role="logout">
                <a class="btn btn-outline-secondary" href="/logout">Hello {{ user }} - Logout</a>
            </div>
        </div>
    </nav>
</header>