<ul class="list-group list-group-flush">
    <li class="list-group-item active" aria-current="true">Warnings</li>
    {% if warnings and warnings|json_encode() != '[]' %}
         {% for warning in warnings %}
          <li class="list-group-item list-group-item-warning">{{ warning }}</li>
         {% endfor %}
    {% else %}
    <li class="list-group-item">No warnings</li>  
    {% endif %}

    <li class="list-group-item active" aria-current="true">Errors</li>
    {% if errors and errors|json_encode() != '[]' %}
         {% for error in errors %}
          <li class="list-group-item list-group-item-danger">{{ error }}</li>  
         {% endfor %}
    {% else %}
    <li class="list-group-item">No errors</li>  
    {% endif %}

    <li class="list-group-item active" aria-current="true">Logs</li>
    {% if log and log|length > 0 %}
     <li class="list-group-item list-group-item-info" style="overflow: auto;white-space: nowrap;">{{ log|nl2br }}</li>  
    {% else %}
    <li class="list-group-item">No logs</li>  
    {% endif %}
</ul>